<a href="https://colab.research.google.com/github/Mikko812/Colab/blob/master/MLB_Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')
#!ls "/content/drive/My Drive/Covers"

Mounted at /content/drive

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta as td
import os
#import pdb
import collections
import time
import re
from google.colab import files
#import seaborn as sns; set()
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
#import openpyxl as xl
pd.set_option('display.max_rows', None) 
pd.set_option('max_colwidth', 220)
pd.options.mode.chained_assignment = None
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:45.0) Gecko/20100101 Firefox/45.0'}
path="/content/drive/My Drive/MLB/"

www='https://www.covers.com'

teams_list={'ARI':'Arizona','ATL':'Atlanta','BAL':'Baltimore','BOS':'Boston','CHC':'Chi. Cubs','CHW':'Chi. White Sox','CIN':'Cincinnati','CLE':'Cleveland','COL':'Colorado','DET':'Detroit','HOU':'Houston',
            'KC':'Kansas City','LAA':'LA Angels','LAD':'LA Dodgers','MIA':'Miami','MIL':'Milwaukee','MIN':'Minnesota','NYM':'NY Mets','NYY':'NY Yankees','OAK':'Oakland','PHI':'Philadelphia',
            'PIT':'Pittsburgh','SD':'San Diego','SF':'San Francisco','SEA':'Seattle','STL':'St. Louis','TB':'Tampa Bay','TEX':'Texas','TOR':'Toronto','WAS':'Washington'}
excel_sheets={'Arizona':'AR','Atlanta':'AT','Baltimore':'BA','Boston':'BO','Chi. Cubs':'CHC','Chi. White Sox':'CH','Cincinnati':'CI','Cleveland':'CL','Colorado':'CO','Detroit':'DE','Houston':'HO',
            'Kansas City':'KA','LA Angels':'AN','LA Dodgers':'LA','Miami':'MI','Milwaukee':'ML','Minnesota':'MIN','NY Mets':'NYM','NY Yankees':'NY','Oakland':'OA','Philadelphia':'PH',
            'Pittsburgh':'PI','San Diego':'SD','San Francisco':'SF','Seattle':'SE','St. Louis':'ST','Tampa Bay':'TM','Texas':'TE','Toronto':'TO','Washington':'WA'}
teams_injures={'ArizonaDiamondbacks': 'Arizona', 'AtlantaBraves': 'Atlanta', 'BaltimoreOrioles': 'Baltimore', 'BostonRed Sox': 'Boston', 'ChicagoCubs': 'Chi. Cubs', 
               'ChicagoWhite Sox': 'Chi. White Sox', 'CincinnatiReds': 'Cincinnati', 'ClevelandIndians': 'Cleveland', 'ColoradoRockies': 'Colorado', 'DetroitTigers': 'Detroit', 
               'HoustonAstros': 'Houston', 'Kansas CityRoyals': 'Kansas City', 'Los AngelesAngels': 'LA Angels', 'Los AngelesDodgers': 'LA Dodgers', 'MiamiMarlins': 'Miami', 
               'MilwaukeeBrewers': 'Milwaukee', 'MinnesotaTwins': 'Minnesota', 'New YorkMets': 'NY Mets', 'New YorkYankees': 'NY Yankees', 'OaklandAthletics': 'Oakland', 
               'PhiladelphiaPhillies': 'Philadelphia', 'PittsburghPirates': 'Pittsburgh', 'San DiegoPadres': 'San Diego', 'San FranciscoGiants': 'San Francisco', 'SeattleMariners': 'Seattle', 
               'St. LouisCardinals': 'St. Louis', 'Tampa BayRays': 'Tampa Bay', 'TexasRangers': 'Texas', 'TorontoBlue Jays': 'Toronto', 'WashingtonNationals': 'Washington'}
AL=['BA','BO','CH','CL','DE','HO','KA','AN','MIN','NY','OA','SE','TM','TE','TO']
NL=['AR','AT','CHC','CI','CO','LA','MI','MI','NYM','PH','PI','SD','SF','ST','WA']

In [ ]:
#ump=pd.read_html('https://www.covers.com/sport/baseball/mlb/umpires/2020/13615')
(ump[0], ump[1], ump[2], ump[3])

In [ ]:
#УДАЛЯЕМ ДУБЛИКАТЫ
def RemoveDuplicates(w):
  for pf in list_mlb_dir:
    if w+'-' in pf:
      try:
        pp=pd.read_csv(path+pf)
        pp=pp.drop_duplicates()
        pp.to_csv(path+pf,index=False)
      except:
        print(f'!! {pf} !!')

In [ ]:
#ССЫЛКИ НА СЕГОДНЯШНИЕ ИГРЫ
list_mlb_dir=os.listdir(path)
d_link=dt.now()
d_link-=td(days=1)
date=dt.strftime(d_link,'%y-%m-%d')
d_link=dt.strftime(d_link,'%Y-%m-%d')
#d_link='2020-08-06'
r=requests.get('https://www.covers.com/Sports/mlb/Matchups?selectedDate={}'.format(d_link),headers=headers)
soup=BeautifulSoup(r.text,'html.parser')
final=soup.find_all(class_='cmg_matchup_list_status')
soup2=soup.find_all(class_='cmg_l_row cmg_matchup_list_gamebox')
postponed=len(soup2)-len(final)
tmp=list(soup2)
if postponed==0:
  tmp=list(map(lambda x: str(x).split('href=')[1],tmp))
else:
  tmp=list(map(lambda x: str(x).split('href=')[1],tmp[:-postponed]))
links=list(map(lambda x: www+x.split(' ')[0].replace('"','').split('>')[0],tmp))
all_tabs=[]
#ЕСЛИ ЕСТЬ "НЕОКОНЧЕННЫЙ" МАТЧ 
links[0]=links[0].replace('matchup','boxscore')

for l in links:
  tab=pd.read_html(l)
  all_tabs.append(tab)
links

['https://www.covers.com/sport/baseball/mlb/boxscore/204276',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204277',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204278',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204274',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204275',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204279',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204280',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204281',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204282',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204283',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204284',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204285',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204286',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204287',
 'https://www.covers.com/sport/baseball/mlb/boxscore/204288']

In [ ]:
#BOXSCORES
start_pitchers=pd.DataFrame()
boxscore=pd.DataFrame()
day_stats=pd.DataFrame(columns=['Teams'])
for tab in all_tabs:
  #tab=pd.read_html(l)
  box=tab[0]
  box.rename({'Unnamed: 0':'Teams'},axis=1,inplace=True)
  if 'X' not in box.columns:
    box.insert(10,'X','')
  box.insert(14,'ML',tab[1]['ML'])
  try:
    tot=float(tab[1].loc[0,'O/U (Margin)'].split('o')[0].replace('-','-1'))
  except KeyError:
    tot=float(tab[1].loc[0,'O/U (Trending)'].split('o')[0].replace('-','-1'))
  box.insert(15,'O/U',['',tot])
  team_A=box.loc[0,'Teams']
  team_H=box.loc[1,'Teams']
  box['Teams']=[team_A,team_H]
  boxscore=boxscore.append(box,sort=False)

boxscore.reset_index(drop=True,inplace=True)
display(boxscore)
boxscore.to_excel(path+'Boxscores.xls',index=False)
files.download(path+'Boxscores.xls')
start_pitchers.reset_index(inplace=True,drop=True)
start_pitchers.reset_index(inplace=True)
box_teams=boxscore['Teams'].to_list()
double_headers=set(list(filter(lambda x: box_teams.count(x)==2,box_teams)))
double_headers=dict.fromkeys(double_headers,1)
#for el in tab:
#  display(el)

   Teams  1  2  3  4  5  6  7  8  9 X   R   H  E   ML  O/U
0    DET  1  0  0  0  0  0  0  0  0     1   3  0  158
1     KC  0  0  0  1  1  0  0  1  0     3   5  0 -172    8
2     SD  0  1  0  1  0  0  3  0  0     5   8  0  106
3     SF  0  1  0  0  0  0  2  1  0     4   6  2 -115    9
4    MIA  0  3  0  0  1  0  0  1  0     5   9  0  164
5    NYY  0  0  0  0  0  0  0  0  0     0   6  0 -179   10
6    HOU  1  0  1  1  0  0  0  1  0     4   8  1 -121
7    TEX  0  1  0  5  1  0  1  0  0     8  11  0  112  9.5
8    NYM  2  1  0  1  0  0  1  0  0     5  12  0 -117
9    WAS  1  5  6  0  0  3  0  0  0    15  11  0  108    9
10   BAL  0  0  1  3  3  0  0  0  0     7  10  2  113
11   TOR  0  1  3  0  0  0  0  1  0     5   7  1 -123   10
12   CIN  0  0  0  0  0  1  1  0  0     5   8  1  119
13   MIN  0  0  0  0  1  1  0  0  0     3   5  0 -129    8
14   CHC  0  6  0  1  0  0  3  0  0    10   8  0  141
15   CHW  0  0  0  0  1  0  0  5  2     8  11  1 -153    9
16   LAA  0  0  0  0  0  0  0  0  0     0   3  1  197
17   LAD  1  0  2  0  0  0  2  0  0     5   6  0 -218  8.5
18   BOS  1  0  0  1  1  0  5  0  1     9  15  0  133
19   ATL  1  0  0  0  0  0  0  0  0     1   7  0 -145  9.5
20   PHI  0  0  0  0  0  0  0  0  0     0   6  0 -141
21    TB  0  1  2  0  0  2  0  0  0     5   9  1  130  7.5
22   COL  0  0  0  0  0  0  0  3  0     3   6  0  101
23   ARI  2  0  4  0  0  1  4  0  0    11  15  3 -110    9
24   SEA  1  1  0  0  0  0  0  0  0     2   4  0  116
25   OAK  1  0  0  0  1  0  3  1  0     6  10  2 -126    8
26   PIT  0  1  1  0  2  2  0  0  0     6   9  0  147
27   CLE  0  0  2  0  0  3  3  0  0     8  11  2 -161    8
28   MIL  0  0  0  1  0  0  0  0  1     2   5  2 -105
29   STL  0  0  4  1  0  0  0  0  0     5   7  0 -103    8

In [ ]:
#ПИТЧЕРЫ
def getPitcherRes(row):
  st=row['Pitcher'].split(' ')
  if len(st)==5:
    row['WL']=st[3][1]
  if st[0][-1]=='.':
    row['Pitcher']=st[1]+' '+st[0]
  return row

def pitchers(df):
  pit1=df['IP'].to_list()
  i=0
  while pit1[i][:3] not in ['WP ','HBP','Pit','IBB']: #ищем конец списка питчеров
    i+=1
  if i==0:
    pit2=df[:1]  #complete game
  else:
    pit2=df[:i] #питчеры
  pit2.rename(columns={'Unnamed: 0':'Pitcher'},inplace=True)
  pit2.insert(1,'WL','')
  pit2.insert(9,'Pitches',0)
  pit2.insert(10,'Strikes',0)
  pit3=pit[i:]['IP'].to_list() #статистика питчеров
  if pit3[0][:3]=='Pit':
    pit3=pit3[0][18:].split(', ')
  elif pit3[1][:3]=='Pit':
    pit3=pit3[1][18:].split(', ')
  elif pit3[2][:3]=='Pit':
    pit3=pit3[2][18:].split(', ')
  else:
    pit3=pit3[3][18:].split(', ')
  pitches=list(map(lambda x: x.split(' ')[-1].split('-')[0],pit3))
  strikes=list(map(lambda x: x.split(' ')[-1].split('-')[1],pit3))
  pit2['IP']=list(map(lambda x: float(x.replace(' .','.')),pit2['IP']))
  pit2=pit2.apply(getPitcherRes,axis=1)
  pit2['Pitches']=pitches
  pit2['Strikes']=strikes
  pit2['IP']=pit2.IP.apply(lambda x: float(str(x).replace('.1','.33').replace('.2','.67').replace(' ','')))
  return pit2[1:],pit2[:1]

start_pitchers=pd.DataFrame()
#for l in links:
#  tab=pd.read_html(l)
for tab in all_tabs:
  print(tab[0].loc[0,'Teams'],' - ',tab[0].loc[1,'Teams'])
  #print(tab[0].loc[0,'Unnamed: 0'],' - ',tab[0].loc[1,'Unnamed: 0'])
  if 'Unnamed: 9' in tab[4].columns:
    pit=tab[4].drop(labels=['Unnamed: 9','ERA'],axis=1)
  else:
    pit=tab[4].drop(labels=['ERA'],axis=1)
  pitchers_A,start_A=pitchers(pit)
  pitchers_A.insert(0,'Date',d_link[2:])
  if 'Unnamed: 9' in tab[5].columns:
    pit=tab[5].drop(labels=['Unnamed: 9','ERA'],axis=1)
  else:
    pit=tab[5].drop(labels=['ERA'],axis=1)
  pitchers_H,start_H=pitchers(pit)
  pitchers_H.insert(0,'Date',d_link[2:])
  start_pitchers=start_pitchers.append(start_A,sort=False)
  start_pitchers=start_pitchers.append(start_H,sort=False)
  pit_A=tab[0].loc[0,'Teams']  #создаем переменную с именем команды
  if f"p-{teams_list[pit_A]}.csv" in list_mlb_dir:
    pitchers_A.to_csv(f"{path}p-{teams_list[pit_A]}.csv",index=False,header=False,mode='a')
  else:
    pitchers_A.to_csv(f"{path}p-{teams_list[pit_A]}.csv",index=False)
  pit_H=tab[0].loc[1,'Teams']
  if f"p-{teams_list[pit_H]}.csv" in list_mlb_dir:
    pitchers_H.to_csv(f"{path}p-{teams_list[pit_H]}.csv",index=False,header=False,mode='a')
  else:
    pitchers_H.to_csv(f"{path}p-{teams_list[pit_H]}.csv",index=False)
  #display(pitchers_A,start_A,pitchers_H,start_H,tmp_pitchers)
start_pitchers.reset_index(inplace=True,drop=True)
start_pitchers.reset_index(inplace=True)
display(start_pitchers)

DET  -  KC
SD  -  SF
MIA  -  NYY
HOU  -  TEX
NYM  -  WAS
BAL  -  TOR
CIN  -  MIN
CHC  -  CHW
LAA  -  LAD
BOS  -  ATL
PHI  -  TB
COL  -  ARI
SEA  -  OAK
PIT  -  CLE
MIL  -  STL

    index        Pitcher WL    IP  H  R ER BB  SO HR Pitches Strikes
0       0  Zimmermann J.     1.00  1  0  0  0   2  0      18      10
1       1      Singer B.  W  7.00  3  1  1  0   5  0      87      60
2       2     Morejon A.     2.67  3  1  1  0   4  1      40      25
3       3       Smyly D.  L  5.00  3  2  2  1  10  1      98      64
4       4       Urena J.     2.33  2  0  0  2   2  0      39      25
5       5     Schmidt C.  L  4.00  4  3  3  2   4  0      71      42
6       6          De C.     3.67  6  6  6  2   6  1      79      50
7       7       Lyles J.     3.00  4  2  2  2   4  1      64      37
8       8        Lugo S.  L  1.33  5  6  6  2   1  0      38      24
9       9        Voth A.  W  5.00  9  4  4  0   4  2      88      60
10     10        Akin K.     3.00  5  4  4  1   4  2      51      35
11     11       Roark T.     4.00  5  4  2  2   2  0      91      54
12     12        Gray S.     5.33  2  2  2  4   4  0      87      52
13     13        Hill R.     5.67  2  1  1  3   4  0      93      58
14     14     Alzolay A.  W  5.00  2  1  1  2   8  1      82      52
15     15       Lopez R.  L  1.33  4  6  6  3   3  2      49      26
16     16    Sandoval P.  L  2.67  1  3  2  3   3  1      61      32
17     17    Gonzalez V.     1.00  1  0  0  0   1  0      16      12
18     18     Pivetta N.  W  5.00  4  1  1  2   5  1      92      59
19     19      Wilson B.     3.00  5  1  1  2   2  0      66      41
20     20        Nola A.  L  3.67  6  3  3  3   6  0      93      59
21     21     Fleming J.  W  6.00  4  0  0  1   5  0      90      53
22     22    Freeland K.  L  2.33  8  6  6  2   2  1      61      37
23     23   Bumgarner M.  W  5.00  2  0  0  0   4  0      66      43
24     24    Gonzales M.     5.00  6  2  2  1   5  0      97      64
25     25      Montas F.     6.00  4  2  0  2  13  0     113      81
26     26    Brubaker J.     5.00  7  5  5  2   3  2      89      51
27     27   Quantrill C.     3.00  4  2  1  0   2  1      35      25
28     28    Anderson B.  L  2.00  2  2  2  1   1  0      38      23
29     29      Gomber A.     4.00  1  1  1  2   3  0      75      47

In [ ]:
RemoveDuplicates('p')

In [ ]:
#БЭТТЕРЫ. НОВАЯ ВЕРСИЯ
def Hits(hits,players):
  res=re.sub(r' [(]\d+[)]','', hits)
  res=res.replace('John Ryan Murphy','John Murphy').replace('Michael A. Taylor','Michael Taylor').replace('A.J. Pollock','Andy Pollock')
  res=res.replace('Michael A. Taylor','Michael Taylor')
  res=res.split(', ')
  hits=[]
  for el in res:
    if el[-2]==' ':
      hits.append(int(el[-1]))
    else:
      hits.append(1)
    
  res=list(map(lambda x: x.split(' ')[0][0]+'. '+x.split(' ')[1], res))
  result=[]
  for el in players:
    if el in res:
      i=res.index(el)
      result.append(hits[i])
    else:
      result.append(0)
  return result

def RunCreationPlayers(r):
  if r['AB']+r['BB']!=0:
    rc=round((r['H']+r['BB'])*r['TB']/(r['AB']+r['BB']),2)
    r['tRC']=rc
  else:
    r['tRC']=0
  return r

def NoHitter(bat3):
  cg=list(map(lambda x: 'TB - ' in x, bat3))
  if True in cg:
    return True   #no no-hitter
  else:
    return False

def batters(df):
  x=df['POS'].to_list().index('Totals')
  df.drop('POS',axis=1,inplace=True)
  bat1=df[:x]  #batters
  bat1.rename(columns={'Unnamed: 0':'Batter'},inplace=True)
  bat2=df[x:x+1] #Total
  bat3=df[x+2:]['AB'].to_list()  #stats
  
  bat2.loc[x,'AVG']=round(int(bat2['H'])/int(bat2['AB']),3)
  if NoHitter(bat3):   #если не nohitter
    double=list(filter(lambda x: x[:5]=='2B - ',bat3))
    triple=list(filter(lambda x: x[:5]=='3B - ',bat3))
    homerun=list(filter(lambda x: x[:5]=='HR - ',bat3))
    tb=list(map(lambda x: x if x[:5]=='TB - ' else '',bat3))+[',']
    tb=''.join(tb).split(' ')
    tb=list(map(lambda x: int(x[:-1]) if ',' in x else 0,tb))
    tb=sum(tb)
    bat3=list(filter(lambda x: 'TB - ' in x,bat3))[0]
  else:
    tb=0
  bat2.insert(9,'TB',tb)

  bat1['AVG']=list(map(lambda x: float(x),bat1['AVG'])) #AVG -> float
  for col in bat1.loc[:,'AB':'LOB']:                    #колонки -> int
    bat1[col]=list(map(int,bat1[col]))
  bat1.insert(8,'tAVG',0)
  bat1['tAVG']=round(bat1['H']/bat1['AB'],3)
  bat1.insert(10,'tRC',0)
  bat1.insert(8,'TB',0)
  bat1.insert(0,'Date',d_link[2:])
  bat1=bat1.drop_duplicates()
  totbase_dict=dict.fromkeys(bat1['Batter'],0)          #TB для каждого игрока
  if 'TB - ' in bat3:
    tb_all=bat3[5:].split(', ')
    for el in tb_all:
      el=el.replace('A.J. Pollock','A. Pollock').replace('T. La Stella','Tommy LaStella').replace('John Ryan Murphy','John Murphy').replace('Michael A. Taylor','Michael Taylor')
      el=el.replace('Michael A. Taylor','Michael Taylor').replace('Rafael Alejandro Marchan','Rafael Marchan').replace('Luis Alexander Basabe','Luis Basabe')
      sp1=el.find(' ')
      sp2=el.rfind(' ')
      name=el[0]+'. '+el[sp1+1:sp2]
      totbase=int(el[sp2+1:])
      totbase_dict[name]=totbase
  #print(totbase_dict)
  bat1['TB']=list(totbase_dict.values())
  bat1.fillna(0,inplace=True)
  bat1=bat1.apply(RunCreationPlayers,axis=1)
  if double!=[]:
    bat1['2B']=Hits(double[0][5:],bat1['Batter'].to_list())
  else:
    bat1['2B']=[0]*len(bat1)
  if triple!=[]:
    bat1['3B']=Hits(triple[0][5:],bat1['Batter'].to_list())
  else:
    bat1['3B']=[0]*len(bat1)
  if homerun!=[]:
    bat1['HR']=Hits(homerun[0][5:],bat1['Batter'].to_list())
  else:
    bat1['HR']=[0]*len(bat1)
  return bat1,bat2,tb

tmp_batters=pd.DataFrame()
all_batters=pd.DataFrame()
for tab in all_tabs:
  print(tab[0].loc[0,'Teams'],' - ',tab[0].loc[1,'Teams'])
  bat_A=tab[0].loc[0,'Teams']
  if bat_A in double_headers.keys():
    game=double_headers[bat_A]
    double_headers[bat_A]+=1
  else:
    game=''
  bat_A=teams_list[bat_A]
  bat_H=tab[0].loc[1,'Teams']
  bat_H=teams_list[bat_H]
  batters_A,total_A,tb_A=batters(tab[2])
  batters_H,total_H,tb_H=batters(tab[3])
  #display(batters_A,batters_H)
  tmp_batters=tmp_batters.append(total_A,sort=False)
  tmp_batters=tmp_batters.append(total_H,sort=False)
  batters_A.insert(2,'Game',game)
  batters_H.insert(2,'Game',game)
  batters_A=batters_A[['Date','Batter','Game','AB','R','H','2B','3B','HR','RBI','BB','SO','TB','tAVG','AVG','tRC']]
  batters_H=batters_H[['Date','Batter','Game','AB','R','H','2B','3B','HR','RBI','BB','SO','TB','tAVG','AVG','tRC']]
  if f"b-{bat_A}.csv" in list_mlb_dir:
    batters_A.to_csv(f"{path}b-{bat_A}.csv",index=False,header=False,mode='a')
  else:
    batters_A.to_csv(f"{path}b-{bat_A}.csv",index=False)
  if f"b-{bat_H}.csv" in list_mlb_dir:
    batters_H.to_csv(f"{path}b-{bat_H}.csv",index=False,header=False,mode='a')
  else:
    batters_H.to_csv(f"{path}b-{bat_H}.csv",index=False)

tmp_batters.drop(labels=['Unnamed: 0'],inplace=True,axis=1)
tmp_batters.columns=['AB','bR','bH','RBI','bBB','bSO','LOB','AVG','TB']
tmp_batters.reset_index(inplace=True,drop=True)
tmp_batters.reset_index(inplace=True)
display(tmp_batters)

DET  -  KC
SD  -  SF
MIA  -  NYY
HOU  -  TEX
NYM  -  WAS
BAL  -  TOR
CIN  -  MIN
CHC  -  CHW
LAA  -  LAD
BOS  -  ATL
PHI  -  TB
COL  -  ARI
SEA  -  OAK
PIT  -  CLE
MIL  -  STL

    index  AB  bR  bH RBI bBB bSO LOB    AVG  TB
0       0  29   1   3   1   1   9   7  0.103   4
1       1  29   3   5   3   2   9   6  0.172  12
2       2  36   5   8   5   3  14  10  0.222  15
3       3  32   4   6   4   4  12  12  0.188  15
4       4  35   5   9   5   4   7  14  0.257  16
5       5  31   0   6   0   4   4  20  0.194   6
6       6  35   4   8   4   5   7  18  0.229  17
7       7  33   8  11   7   5  11  18  0.333  17
8       8  38   5  12   5   2  10  17  0.316  24
9       9  33  15  11  15  11  10  18  0.333  20
10     10  35   7  10   7   4   5  15  0.286  16
11     11  34   5   7   4   3   9  14  0.206  15
12     12  36   5   8   5   5  11  12  0.222  10
13     13  33   3   5   2   4  13  16  0.152   6
14     14  35  10   8   8   7   9  15  0.229  17
15     15  37   8  11   7   6  14  15  0.297  18
16     16  28   0   3   0   3   8   9  0.107   3
17     17  30   5   6   3   4   7   9    0.2  13
18     18  42   9  15   9   4  11  22  0.357  29
19     19  32   1   7   1   2   8  16  0.219  11
20     20  32   0   6   0   1   5  12  0.188   7
21     21  32   5   9   4   4  10  17  0.281  12
22     22  34   3   6   2   0  10  11  0.176  11
23     23  35  11  15  11   5   4  22  0.429  23
24     24  32   2   4   2   2  16  14  0.125   4
25     25  34   6  10   6   6   9  23  0.294  17
26     26  36   6   9   5   3  10  12   0.25  18
27     27  32   8  11   8   2   4   9  0.344  21
28     28  31   2   5   2   5  10  18  0.161   6
29     29  30   5   7   4   2   8   8  0.233  12

In [ ]:
RemoveDuplicates('b')

In [ ]:
#СБОР ПИТЧЕРОВ И БЭТТЕРОВ ДЛЯ ЭКСЕЛЯ
def RunCreation(r):
  try:
    rc=float(round((r['bH']+r['bBB'])*r['TB']/(r['AB']+r['bBB']),2))
    r['RC']=rc
    r['RRC']=round(r['Scores']/rc,2)  #заработанные runs относительно RC
  except ZeroDivisionError:
    r['RRC']=0
  return r

day_stats=pd.DataFrame(columns=['Teams'])
day_stats['Teams']=list(map(lambda x: teams_list[x],boxscore['Teams']))
day_stats.reset_index(inplace=True)
day_stats=day_stats.merge(start_pitchers,how='left',on='index')
day_stats.insert(3,'Scores',boxscore['R'])
day_stats.insert(14,'-','')
day_stats.insert(15,'RC',0)
day_stats.insert(16,'RRC',0)
day_stats=day_stats.merge(tmp_batters,how='left',on='index')
for el in ['Scores','H','R','ER','BB','SO','HR','Pitches','Strikes','AB','bR','bH','RBI','bBB','bSO','LOB','TB']:
  day_stats[el]=list(map(int,day_stats[el]))
day_stats=day_stats.apply(RunCreation,axis=1)
day_stats.drop(labels=['index','TB'],inplace=True,axis=1)
display(day_stats)
day_stats.to_excel(path+f'DayResults {d_link[5:]}.xls',index=False)
files.download(path+f'DayResults {d_link[5:]}.xls')

             Teams        Pitcher  Scores WL    IP  ...  RBI  bBB  bSO  LOB    AVG
0          Detroit  Zimmermann J.       1     1.00  ...    1    1    9    7  0.103
1      Kansas City      Singer B.       3  W  7.00  ...    3    2    9    6  0.172
2        San Diego     Morejon A.       5     2.67  ...    5    3   14   10  0.222
3    San Francisco       Smyly D.       4  L  5.00  ...    4    4   12   12  0.188
4            Miami       Urena J.       5     2.33  ...    5    4    7   14  0.257
5       NY Yankees     Schmidt C.       0  L  4.00  ...    0    4    4   20  0.194
6          Houston          De C.       4     3.67  ...    4    5    7   18  0.229
7            Texas       Lyles J.       8     3.00  ...    7    5   11   18  0.333
8          NY Mets        Lugo S.       5  L  1.33  ...    5    2   10   17  0.316
9       Washington        Voth A.      15  W  5.00  ...   15   11   10   18  0.333
10       Baltimore        Akin K.       7     3.00  ...    7    4    5   15  0.286
11         Toronto       Roark T.       5     4.00  ...    4    3    9   14  0.206
12      Cincinnati        Gray S.       5     5.33  ...    5    5   11   12  0.222
13       Minnesota        Hill R.       3     5.67  ...    2    4   13   16  0.152
14       Chi. Cubs     Alzolay A.      10  W  5.00  ...    8    7    9   15  0.229
15  Chi. White Sox       Lopez R.       8  L  1.33  ...    7    6   14   15  0.297
16       LA Angels    Sandoval P.       0  L  2.67  ...    0    3    8    9  0.107
17      LA Dodgers    Gonzalez V.       5     1.00  ...    3    4    7    9  0.200
18          Boston     Pivetta N.       9  W  5.00  ...    9    4   11   22  0.357
19         Atlanta      Wilson B.       1     3.00  ...    1    2    8   16  0.219
20    Philadelphia        Nola A.       0  L  3.67  ...    0    1    5   12  0.188
21       Tampa Bay     Fleming J.       5  W  6.00  ...    4    4   10   17  0.281
22        Colorado    Freeland K.       3  L  2.33  ...    2    0   10   11  0.176
23         Arizona   Bumgarner M.      11  W  5.00  ...   11    5    4   22  0.429
24         Seattle    Gonzales M.       2     5.00  ...    2    2   16   14  0.125
25         Oakland      Montas F.       6     6.00  ...    6    6    9   23  0.294
26      Pittsburgh    Brubaker J.       6     5.00  ...    5    3   10   12  0.250
27       Cleveland   Quantrill C.       8     3.00  ...    8    2    4    9  0.344
28       Milwaukee    Anderson B.       2  L  2.00  ...    2    5   10   18  0.161
29       St. Louis      Gomber A.       5     4.00  ...    4    2    8    8  0.233

[30 rows x 24 columns]

In [ ]:
def Hits(hits,players):
  res=re.sub(r' [(]\d+[)]','', hits)
  res=res.replace('John Ryan Murphy','John Murphy').replace('Michael A. Taylor','Michael Taylor').replace('A.J. Pollock','Andy Pollock')
  res=res.replace('Michael A. Taylor','Michael Taylor')
  res=res.split(', ')
  hits=[]
  for el in res:
    if el[-2]==' ':
      hits.append(int(el[-1]))
    else:
      hits.append(1)
    
  res=list(map(lambda x: x.split(' ')[0][0]+'. '+x.split(' ')[1], res))
  result=[]
  for el in players:
    if el in res:
      i=res.index(el)
      result.append(hits[i])
    else:
      result.append(0)
  return result

In [ ]:
#БЭТТЕРЫ
def RunCreationPlayers(r):
  try:
    rc=float(round((r['H']+r['BB'])*r['TB']/(r['AB']+r['BB']),2))
    r['tRC']=rc
  except ZeroDivisionError:
    r['tRC']=0
  return r

def NoHitter(bat3):
  cg=list(map(lambda x: 'TB - ' in x, bat3))
  if True in cg:
    return True
  else:
    return False

def batters(df):
  x=df['POS'].to_list().index('Totals')
  df.drop('POS',axis=1,inplace=True)
  bat1=df[:x]  #batters
  bat1.rename(columns={'Unnamed: 0':'Batter'},inplace=True)
  bat2=df[x:x+1] #Total
  bat3=df[x+2:]['AB'].to_list()  #stats
  bat2.loc[x,'AVG']=round(int(bat2['H'])/int(bat2['AB']),3)
  if NoHitter(bat3):   #если не nohitter
    tb=list(map(lambda x: x if x[:5]=='TB - ' else '',bat3))+[',']
    tb=''.join(tb).split(' ')
    tb=list(map(lambda x: int(x[:-1]) if ',' in x else 0,tb))
    tb=sum(tb)
  else:
    tb=0
  bat2.insert(9,'TB',tb)

  bat1['AVG']=list(map(lambda x: float(x),bat1['AVG'])) #AVG -> float
  for col in bat1.loc[:,'AB':'LOB']:                    #колонки -> int
    bat1[col]=list(map(int,bat1[col]))
  bat1.insert(8,'tAVG',0)
  bat1['tAVG']=round(bat1['H']/bat1['AB'],3)
  bat1.insert(10,'tRC',0)
  bat1.insert(8,'TB',0)
  bat1.insert(0,'Date',d_link[2:])
  bat1=bat1.drop_duplicates()
  totbase_dict=dict.fromkeys(bat1['Batter'],0)          #TB для каждого игрока

  if 'TB - ' in bat3:
    tb_all=list(filter(lambda x: x[:5]=='TB - ',bat3))[0][5:]
    tb_all=tb_all.split(', ')
    for el in tb_all:
      #print(el)
      el=el.replace('John Ryan Murphy','John Murphy').replace('Michael A. Taylor','Michael Taylor').replace('A.J. Pollock','A. Pollock')
      sp1=el.find(' ')
      sp2=el.rfind(' ')
      name=el[0]+'. '+el[sp1+1:sp2]
      totbase=int(el[sp2+1:])
      totbase_dict[name]=totbase
    #print(totbase_dict)
  bat1['TB']=list(totbase_dict.values())
  bat1.fillna(0,inplace=True)
  bat1=bat1.apply(RunCreationPlayers,axis=1)
  return bat1,bat2,tb

tmp_batters=pd.DataFrame()
all_batters=pd.DataFrame()
#for l in links:
#  tab=pd.read_html(l)
for tab in all_tabs[:1]:
  print(tab[0].loc[0,'Teams'],' - ',tab[0].loc[1,'Teams'])
  bat_A=tab[0].loc[0,'Teams']
  bat_A=teams_list[bat_A]
  bat_H=tab[0].loc[1,'Teams']
  bat_H=teams_list[bat_H]
  #print(bat_A,'-',bat_H)
  batters_A,total_A,tb_A=batters(tab[2])
  batters_H,total_H,tb_H=batters(tab[3])
  #display(total_A,total_H)
  tmp_batters=tmp_batters.append(total_A,sort=False)
  tmp_batters=tmp_batters.append(total_H,sort=False)
  if f"b-{bat_A}.csv" in list_mlb_dir:
    batters_A.to_csv(f"{path}b-{bat_A}.csv",index=False,header=False,mode='a')
  else:
    batters_A.to_csv(f"{path}b-{bat_A}.csv",index=False)
  if f"b-{bat_H}.csv" in list_mlb_dir:
    batters_H.to_csv(f"{path}b-{bat_H}.csv",index=False,header=False,mode='a')
  else:
    batters_H.to_csv(f"{path}b-{bat_H}.csv",index=False)

tmp_batters.drop(labels=['Unnamed: 0'],inplace=True,axis=1)
tmp_batters.columns=['AB','bR','bH','RBI','bBB','bSO','LOB','AVG','TB']
tmp_batters.reset_index(inplace=True,drop=True)
tmp_batters.reset_index(inplace=True)
display(tmp_batters)

STL  -  PIT

   index  AB bR bH RBI bBB bSO LOB    AVG  TB
0      0  29  6  8   6   2   6  16  0.276  15
1      1  26  5  4   4   8   4  21  0.154   4

In [ ]:
#КАЛЕНДАРЬ
def dateChange(row):
  row['Opp']=row['Opp'].replace(' NEUTRAL','')
  if row['Opp'][0]=='@':
    row['Opp']=row['Opp'][2:]
    row['HA']='@'
    row['Ser']='a'
  else:
    row['Ser']='h'
  row['Opp']=teams_list[row['Opp'].strip()]
  return row

r=requests.get('https://www.covers.com/pageLoader/pageLoader.aspx?page=/data/mlb/teams/teams.html',headers=headers)
soup=BeautifulSoup(r.text,'html.parser')
cal1=soup.find_all('table')[0]
cal1=cal1.find_all('a')
cal2=soup.find_all('table')[1]
cal2=cal2.find_all('a')
calendar=list(cal1)+list(cal2)
for el in calendar:
  link=www+el.get('href')
  #link=link.replace('teams','teams/schedule')
  team_cal=pd.read_html(link)[-5]
  team_name=el.get_text()
  team_cal.drop(team_cal.columns[2:],axis=1,inplace=True)
  team_cal.insert(1,'HA','')
  team_cal.insert(1,'Ser','')
  team_cal.columns=['Date','Ser','HA','Opp']
  team_cal=team_cal.apply(dateChange,axis=1)
  Opp=team_cal['Opp'].to_list()
  Ser=team_cal['Ser'].to_list()
  t_prev=''
  c=1
  for i in range(len(Opp)):
    t_curr=Opp[i]
    if t_curr==t_prev:
      Ser[i]=Ser[i]+str(c)
      c+=1
    else:
      Ser[i]=Ser[i]+'1'
      c=2
    t_prev=t_curr
  team_cal['Ser']=Ser
  #team_cal.to_excel(path+team_name+'.xls',index=False,header=False)

In [ ]:
def dateChange(row):
  m=row['Date'].split('/')[0]
  d=row['Date'].split('/')[1]
  m=dt.strptime(m,'%m')
  m=dt.strftime(m,'%b')
  row['Date']=m+' '+d
  if row['Opp'][:1]=='@':
    row['Opp']=row['Opp'][2:]
    row['HA']='@'
    row['Ser']='a'
  else:
    row['Ser']='h'
  return row

team_cal=team_cal.apply(dateChange,axis=1)
Opp=team_cal['Opp'].to_list()
Ser=team_cal['Ser'].to_list()
t_prev=''
c=1
for i in range(len(Opp)):
  t_curr=Opp[i]
  if t_curr==t_prev:
    Ser[i]=Ser[i]+str(c)
    c+=1
  else:
    Ser[i]=Ser[i]+'1'
    c=2
  t_prev=t_curr
team_cal['Ser']=Ser 
team_cal.head()

     Date Ser HA         Opp
1  Mar 26  h1     NY Yankees
2  Mar 28  h2     NY Yankees
3  Mar 29  h3     NY Yankees
4  Mar 30  h1         Boston
5  Mar 31  h2         Boston

In [ ]:
#ПЕРЕИМЕНОВАНИЕ ФАЙЛОВ
files=os.listdir(path)
files_res=list(map(lambda x: x+'*' if 'comb' in x else '', files))
files=''.join(files_res).split('*')[:-1]
files=sorted(files)
display(files)
for f in files[:17]:
  sp=f.split('-')
  m=sp[0][-2:]
  d=sp[1][:2]
  new=sp[0][:-2]+'19-'+m+'-'+d+'.csv'
  #os.rename(path+f,path+new)

In [ ]:
#СТАТИСТИКА ПО ОДНОМУ БАТТЕРУ
single=bats_dict['Washington'][bats_dict['Washington']['Batter']=='A. Cabrera']
cols=single.columns
stat1=single[['AB','R','H','RBI','BB','SO','LOB','TB']].sum().to_list()
stat2=single[['tAVG','AVG','tRC']].mean().to_list()
stat2=list(map(lambda x: round(x,3),stat2))
stat=['','Total']+stat1+stat2
single=pd.DataFrame(np.insert(single.values,len(single),stat,axis=0),columns=cols)
display(single)

In [ ]:
#СТАТИСТИКА ПО ВСЕМ БЭТТЕРАМ ОДНОЙ КОМАНДЫ
bats_total=pd.DataFrame(columns=cols[1:])
cols=bats_dict['Arizona'].columns
for bat in set(bats_dict['Washington']['Batter']):
  single=bats_dict['Washington'][bats_dict['Washington']['Batter']==bat]
  stat1=single[['AB','R','H','RBI','BB','SO','LOB','TB']].sum().to_list()
  stat2=single[['tAVG','AVG','tRC']].mean().to_list()
  stat2=list(map(lambda x: round(x,3),stat2))
  stat=[bat]+stat1+stat2
  bats_total=pd.DataFrame(np.insert(bats_total.values,0,stat,axis=0))
bats_total.columns=cols[1:]
bats_total=bats_total.sort_values(['tRC','AVG'],ascending=False)
bats_total